.drop-menu {
    position: absolute;
    top: 19rem;
    right: 5.5rem;
    width: 12rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.drop-menu::before{
    content: '';
    position: absolute;
    top: -.2rem;
    right: .2rem;
    width: 20px;
    height: 18px;
    transform: rotate(45deg);
    background-color: white;
}
.opt-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.opt-menu li{
    cursor: pointer;
}

.opt-menu li:hover {
    background-color: #dadada4f;
}